@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* styles.css */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animate-fadeIn {
    animation: fadeIn 1.5s ease-in-out;
}

/* Add this CSS in your main CSS file (e.g., index.css) */
.bg-dotted {
    background-image: linear-gradient(to bottom, #ccc 50%, rgba(255, 255, 255, 0) 0%);
    background-size: 1px 10px;
}

@media (max-width: 768px) {
    .bg-dotted {
        display: none;
    }
}